.error-page {
  max-width: 440px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: left;
  .fa {
    display:block;
    font-size: 100px;
    color: get-color('andikem','blue');
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
  }
  h1 {
    font-size: 28px;
    color: get-color('andikem','blue');
    margin-bottom: 14px;
    border-bottom: solid 1px get-color('andikem','blue');
  }
  p {
    font-size: 14px;
    margin: 10px 0 16px 0;
    color: get-color('andikem','black');
  }
  a {
    text-decoration: none;
    color: get-color('andikem','blue');
  }
  .logo {
    width: 150px;
    height: auto;
  }
}
